// Custom styles.
body { 
	background-image: url(/images/background.jpg);
	background-attachment: fixed; // 不随屏幕滚动而滚动
	background-repeat: repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺
	background-size: contain; // 等比例铺满屏幕
}